<div id="<%= dom_id candidatura %>">
  <p>
    <strong>Candidato:</strong>
    <%= candidatura.candidato_id %>
  </p>

  <p>
    <strong>Vaga:</strong>
    <%= candidatura.vaga_id %>
  </p>

  <p>
    <strong>Empregador:</strong>
    <%= candidatura.empregador_id %>
  </p>

</div>
