<div id="<%= dom_id candidatura %>">
  <p>
    <strong>Candidato:</strong>
    <%= candidatura.candidato.nome %>
  </p>

  <p>
    <strong>Vaga:</strong>
    <%= candidatura.vaga.nome %>
  </p>

  <p>
    <strong>Empregador:</strong>
    <%= candidatura.empregador.nomeEmpresa %>
  </p>

</div>
