<p style="color: green"><%= notice %></p>

<h1>Candidaturas</h1>

<div id="candidaturas">
  <% @candidaturas.each do |candidatura| %>
    <%= render candidatura %>
    <p>
      <%= link_to "Detalhes da candidatura", candidatura %>
    </p>
  <% end %>
</div>

<%= link_to "Nova candidatura", new_candidatura_path %>
