<div id="<%= dom_id vaga %>">
  <p>
    <strong>Nome:</strong>
    <%= vaga.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= vaga.descricao %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= vaga.salario %>
  </p>

</div>
