<p style="color: green"><%= notice %></p>

<h1>Vagas</h1>

<div id="vagas">
  <% @vagas.each do |vaga| %>
    <%= render vaga %>
    <p>
      <%= link_to "Detalhes da vaga", vaga %>
    </p>
  <% end %>
</div>

<%= link_to "Nova vaga", new_vaga_path %>
