<p style="color: green"><%= notice %></p>

<h1>Empregadores</h1>

<div id="empregadors">
  <% @empregadors.each do |empregador| %>
    <%= render empregador %>
    <p>
      <%= link_to "Detalhes do empregador", empregador %>
    </p>
  <% end %>
</div>

<%= link_to "Novo empregador", new_empregador_path %>
