<p style="color: green"><%= notice %></p>

<h1>Candidatos</h1>

<div id="candidatos">
  <% @candidatos.each do |candidato| %>
    <%= render candidato %>
    <p>
      <%= link_to "Detalhes do candidato", candidato %>
    </p>
  <% end %>
</div>

<%= link_to "Novo candidato", new_candidato_path %>
